
@{
    ViewData["Title"] = "ContactUs";
    //Layout = "_HeaderLayout";
}
<div class="container">
<div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Our Customer Service Officers are committed to listening to you, whether it is in person, by phone, by mail or by email.</p>
</div>
<div class="sf_colsIn col-md-12" data-sf-element="Column 1">
    <div style="text-align:center">
        <h3>Enquiry Line Operating Hours</h3>
        Monday - Friday: 9:00am to 5:00pm<br />
        <br />

        <h3>Office Operating Hours</h3>
        Monday - Friday: 9:00am to 5:00pm<br />
        <em>
            (Closed on weekend and Public Holiday)<br />
            <br />
        </em><hr />

        <div class="row" data-sf-element="Row">
            <div class="sf_colsIn col-md-6" data-sf-element="Column 1">
                <div class="sf_cols margin-bottom-20">
                    <div class="sf_colsOut sf_1col_1_100" style="width: 100%;">
                        <div class="sf_colsIn sf_1col_1in_100">
                            <h4><span style="line-height: 1.2;">For General Enquiries</span></h4>
                            Please write to us at <a href="mailto:isstcw@nus.edu.sg">isstcw@nus.edu.sg</a><br />
                            or submit an enquiry below

                            <br />
                            <h4><span style="font-weight: bold; line-height: 1.2;">For Feedback</span></h4>
                            Please write to us at&nbsp;<a href="mailto:isstcw@nus.edu.sg">isstcw@nus.edu.sg</a><br />
                            <br />
                            <h4><span style="font-weight: bold; line-height: 1.2;">For Registration of Courses or Training Enquiries</span></h4>
                            Tel: (65) 6516 2020 / 6516 5409<br />
                            &nbsp; &nbsp; &nbsp; (65) 6601 3975 / 6601 2391<br />
                            Email:&nbsp;<a href="mailto:isstcw@nus.edu.sg">isstcw@nus.edu.sg</a><br />
                            <br />


                            <h4><span style="line-height: 1.2; font-weight: bold;">Address</span></h4>
                            29 Heng Mui Keng Terrace, Block C, D &amp; E<br />
                            Singapore 119620<br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

